
* {
  box-sizing: border-box;
  /* padding: 0;
  /* margin: 0; (As 0 property blocking responsiveness in small devices here that's why it is removed ) */
  font-family: "Inter", sans-serif;
}

/* google fonts */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


@layer utilities {
  
  .animate-spin {
    animation: var(--animate-spin);
  }
  @keyframes spin {
  to {
      transform: rotate(360deg);
     }
 }

}

/* @keyframes spin {
	0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
  
} */

/* Common Styles */
.container{
    max-width: 1140px;
    margin: auto;
}

.grey{
   color: rgba(0, 0, 0, 0.5);
   font-size: 22px;
}
.grey-2{
   color: rgba(0, 0, 0, 0.5);
   font-size: 17px;
}
/* As tailwind and external css conflict that's why here custom breakpoint is used to make mobile view responsive */

@media (min-width: 768px) {
.grey{
   color: rgba(0, 0, 0, 0.5);
   font-size: 20px;
}
}


.btn{
   background-color:rgb(233, 90, 8);
   color: white;
   padding: 1rem 5rem;
   font-size: 1rem;
}

.btn-s{
  background-color:rgb(233, 90, 8);
   color: white;
   padding: 1.9rem 0;
   font-size: 1rem;
}

.logo{
   margin-top: 1rem;
}
.menu-container{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2.5rem;
 
}

/* banner custom styles */
.ban-sec {
  margin-top: 2rem;
}

.banner-des{
  margin-top: 13px;
}

/* Note: Intend to complete full web site with tailwind css but due to responsive issue I used some external raw css */
